@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #8A51FC;
    height: 999px;
}


.gift {
    height: 200px;
    margin: auto;
    display: block;
    padding:10px ;
}

main {
    background-color: #fff;
    
    
    width: 350px;
    margin-top: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;

}

.box-real {
    display: inline-block;
    width: 89%;
    padding: 10px;
    border: solid 1px gray;
    border-radius: 5px;
    margin-bottom: 20px;
    
}

.real {
    font-weight: bold;
}
.box-moedas {
    display: inline-block;
    width: 89%;
    padding: 10px;
    border: solid 1px gray;
    border-radius: 5px;
    margin-bottom: 20px;
}

#ivalor {
    display: inline-block;
    width: 89%;
    padding: 10px;
    border: solid 1px gray;
    border-radius: 5px;
    margin-bottom: 20px;
}

.content {
    margin-top: 20px;
   
}

button {
    font-size: 1em;
    font-weight: bold;
    display: block;
    width: 89%;
    background-color: #8A51FC;
    color: #fff;
    margin: auto;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
}


section {
    border: 1px solid #8A51FC;
    margin: 20px;
    padding-left: 5px;
    border-radius: 10px;

}

.one {
    margin: 10px;
}

.two {
    margin: 10px;
}

p {
    font-weight: bold;
    color: gray;
}