@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(2,37,78,1) 0%, rgba(4,56,126,1) 19.7%, rgb(85, 208, 245) 100.2% );
    height: 999px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}



main {
    background-color: #0d0d3b;
    width: 350px;
    margin: 120px;
    padding: 44px 24px 23px;
    text-align: center;
    border-radius: 10px;

}

label{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

select {
    background-color: #fff;
    border: 1px solid  #bbbbbb;
    height: 48px;
    width: 100%;
    margin-bottom: 25px;
    appearance: none;
    padding-left: 20px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
}

input {
    background-color: #fff;
    border: 1px solid  #bbbbbb;
    height: 48px;
    width: 100%;
    padding-left: 20px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    cursor: pointer;
}

button {
    font-size: 18px;
    font-weight: 700;
    display: block;
    width: 100%;
    background-color: #0c87b1;
    color: #fff;
    margin: auto;
    height: 48px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid #fff;
    margin-top: 30px;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.arrow-img {
    margin: 15px 0;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    color: #fff;
    font-size: 14px;
}

.currency-value, .currency-value-to-convert {
    color: #fff;
    font-size: 20px ;
    font-weight: 700;
}